<!-- chat/templates/chat/dashboard.html -->
{% extends "customer/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}


<div class="container-fluid">


    <div class="card p-3 mb-4">
        <h5>Data Storage Setting</h5>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="storeToggle"
                {% if bot.store_data %}checked{% endif %}>
            <label class="form-check-label">
                Store User Chat Data
            </label>
        </div>
    </div>


    <div class="card p-3 mb-4">
    <h5>Chat Bot Link</h5>

    <div class="form-check form-switch">
        <input type="text" class="form-control"
               value="{{ request.scheme }}://{{ request.get_host }}/chatbot/{{ user_id }}"
               readonly>
        
       <label class="form-check-label mt-2">
    This is your chatbot link. You can use it on your website or any platform, and your chatbot will appear wherever it is integrated.
</label>
    </div>
</div>


    <script>
document.getElementById("storeToggle").addEventListener("change", function() {
    let status = this.checked;

    fetch("/toggle-store-data/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
            status: status
        })
    })
    .then(res => res.json())
    .then(data => {
        console.log("Updated:", data);
    });
});
</script>



   
{% endblock %}